﻿#wrapper{
    width: 1100px;
    padding: 10px;
    margin: 0 auto;
}
body{
    font-family: calibri;
    font-size: 14px;
    background-image:url(/v/images/ava7patterns_pattern_1334.png);
    background-color: #F0E4CA;

}
#coments{
   background-color:#FFFFFF;
   
}
textarea{
    resize: none;
    width: 560px;
}
#textarea_coment{
    width: 550px;
    resize: none;
}
#menu{
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    background-color:#FFFFFF;
}    
#list_interview{
    margin: 5px;
    text-align: inherit;
}
#header{
    height: 120px;
    margin-top: 2px;
    background-color:#FFFFFF;
    text-align:left;
    font-weight: bold;
    border-radius: 19px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
}
#list_int_art{
    text-align: center;
}
#fon_header2{
    height: 120px;
    margin-left: 30px;
    float: left;
    position: absolute;
}

#content{
    text-align: left;
    margin-top: 7px;
    width: 750px;
    padding: 5px;
    border-radius: 19px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    background-color:#FFFFFF;
}
#list_pages{
    text-align: center;
    font-size: 16px;
    
}
#right_bar{
    border-radius: 19px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    width: 334px;
    float: right;
    margin-top: 24px;
    background-color:#FFFFFF;
}

#video_right_bar{
    margin-right: 10px; 
    border-radius: 19px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    background-color:#FFFFFF;  
}
#list_video{
    text-align: justify;
}
#footer{
    height: 47px;
    margin-top: 10px;
    text-align: center;
    background-color:#FFFFFF;
    border-radius: 19px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;    
    
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color:#CD0000;
}
a:visited{
    color:#CD0000;
}
a:hover{
    text-decoration: underline;
}
#header_time{
    text-align: right;
    font-size: 20px; 
    padding-top: 80px;
    padding-right: 20px;
}
#one_news{
    width: 753px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 19px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    background-color:#FFFFFF;
}
#time_list_news{
    font-size: 10px;
}
#main_time{
    margin-left: 570px;
}
#article_image{
    float: left;
    padding: 5px;
}
#title_articles{
    text-transform: uppercase;
}
#one_img{
    padding: 5px;
    margin-left:35px;
}
#table_main_menu{
    width: 500px;
    text-align: left;
    float: left;
    
}
#one_news_table{
}
#interv_table{
    text-align: center;
    border-radius: 19px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    background-color:#FFFFFF;
}
#emt_div{
    height: 400px;
}
#background_fon{
        border-radius: 19px;
    -webkit-border-radius:6px;
    -moz-border-radius:5px;
    -khtml-border-radius:10px;
    background-color:#FFFFFF;
}
#form_registration{
    text-align: center ;
    width: 450px;
    margin: 0 auto;
}
